<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "contact", '#' %></li>
      <li><a href="http://www.allgaeulab.de/">News</a></li>
      <li><a href="http://www.allgaeulab.de/">Anleitung</a></li>
    </ul>
  </nav>
</footer>

